<style>
  /* Style for product display can be added based on your design requirements */
  @media only screen and (min-width: 750px) {
    .js-wishlistBlock,
    .js-wishlistBlockImported {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: var(--grid-desktop-horizontal-spacing);
    }
  }

  .c-product {
    cursor: pointer;
    margin-bottom: 20px;
    border: 1px solid #3a3f4c;
  }

  .c-product img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    transition: all 0.5s ease;
  }

  .c-product img:hover {
    transform: scale(1.03);
  }

  .c-product h3.c-product__title {
    margin-top: 10px;
    position: relative;
    font-weight: bold;
  }
</style>
<div class="tw-py-20">
  <div class="recently-title ">
    <h1 class="title inline-richtext h2 scroll-trigger animate--slide-in tw-flex">
      <b>Wishlist</b>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        onclick="whatsappLinkShare()">
        <path fill="currentColor" d="m21 12l-7-7v4C7 10 4 15 3 20c2.5-3.5 6-5.1 11-5.1V19z" />
      </svg>
    </h1>

  </div>
  <div class="js-wishlistBlock">
    <!-- Messaggio di default per wishlist vuota -->
    <p class="wishlist-empty-message tw-text-main">
      La tua wishlist è vuota. Inizia a esplorare e aggiungi i tuoi prodotti preferiti!
    </p>

  <!-- I prodotti della wishlist saranno aggiunti qui dinamicamente -->
  </div>
  <h2 class="tw-hidden" id="imported__list">Preferiti Importati</h2>
  <div class="js-wishlistBlockImported ">
    <!-- I prodotti della wishlist importata saranno aggiunti qui dinamicamente -->
  </div>

</div>