<div class="tw-bg-main/30">
  <div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-items-center">
    <!-- Contenitore del testo spostato a destra -->
    <div class="tw-flex tw-w-full tw-justify-center">
      <div class="tw-flex tw-flex-col tw-gap-6 tw-w-[90%] lg:tw-max-w-5xl tw-py-20 lg:tw-py-0">
        <h2 class="tw-text-main tw-text-5xl lg:tw-text-6xl tw-font-bold">Behind the brand</h2>
        <p class="tw-text-main tw-text-2xl lg:tw-text-3xl">
          All of our styles are intentionally designed to wear everyday and be passed down from one kiddo to the next.
        </p>
        <a
          href="/pages/chi-siamo"

          class="tw-py-4 tw-px-6 tw-rounded-[30px] tw-transition tw-duration-200 tw-bg-main tw-uppercase tw-text-white tw-max-w-max tw-text-2xl "
        >
          scopri chi siamo
        </a>
      </div>
    </div>
    <!-- Immagine a destra -->
    <div>
      <img
        src="{{ 'brand.png' | asset_url }}"
        alt="Illustrazione di una nuvola"
        width="300px"
        height="300px"
        class="tw-aspect-video tw-w-full tw-h-full tw-object-cover"
      >
    </div>
  </div>
</div>
