<div class="hero__logo-container tw-w-[95%] tw-mx-auto tw-my-20">
  <ul class="hero__logo-wrapper tw-grid tw-grid-cols-2 lg:tw-grid-cols-5 tw-gap-10 tw-items-center tw-justify-center">
    {% assign logo_count = 0 %}
    {% for block in section.blocks %}
      <li class="hero__logo-item tw-flex tw-justify-center tw-grayscale tw-opacity-50 hover:tw-grayscale-0">
        {% if block.settings.logo_image %}
          <img src="{{ block.settings.logo_image | img_url: 'medium' }}" 
               width="{{ block.settings.logo_width | default: '100' }}px" 
               height="auto" 
               class="tw-w-[{{ block.settings.logo_width | default: '100' }}px]" 
               alt="{{ block.settings.logo_image | split: '/' | last | remove: '.png' | remove: '.jpeg' | remove: '.svg' | remove: '.jpg' | remove: '.webp' }}">
        {% else %}
          <p>No logo selected</p>
        {% endif %}
      </li>
      {% assign logo_count = logo_count | plus: 1 %}
    {% endfor %}
  </ul>
</div>


{% schema %}
{
  "name": "Logo Grid",
  "settings": [],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo_image",
          "label": "Logo"
        },
        {
          "type": "text",
          "id": "logo_width",
          "label": "Width (px)",
          "default": "100"
        }        
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo Grid"
      
    }
  ]
}
{% endschema %}
