<div class="tw-my-10">
    <div class="tw-grid tw-grid-cols-2 tw-w-[95%] tw-mx-auto tw-items-center">
        <div>
            <img src="{{ " GIFT_CARD_BZ.png" | asset_url }}" id="babies-img" alt="Babies"
                class="tw-object-contain timeline-img active tw-aspect-square " width="auto" height="auto">
        </div>
        <div class="tw-flex tw-flex-col tw-gap-6 ">
            <h1 class="tw-text-main tw-text-6xl tw-font-bold">Scegli la carta regalo Bimbo Zen</h1>
            <p class="tw-text-main tw-text-2xl">Una Gift Card Bimbo Zen per un regalo speciale!</p>
            {% assign gift_card_product = all_products['products.gift-card'] %}
            {% comment %} {% if gift_card_product %}
            <a href="{{ products.gift-card | }}"
                class="tw-py-6 tw-px-10 tw-rounded-[30px] tw-transition tw-duration-200 tw-bg-main tw-uppercase tw-text-white tw-max-w-max tw-text-2xl">Acquista
                ora</a>
            {% else %}
            <p>Il prodotto non è disponibile.</p>
            {% endif %} {% endcomment %}
        </div>
    </div>
</div>