<div class="tw-w-[95%] tw-mx-auto tw-h-[500px]">
  {% if section.settings.image != blank %}
    <img
      src="{{ section.settings.image | img_url: '1920x' }}"
      alt="Hero Image"
      class="tw-object-cover tw-object-top tw-w-full tw-h-full"
      width="1920px"
      height="auto"
    >
  {% else %}
    {% assign placeholder_image = 'lifestyle-1' %}
    {{
      placeholder_image
      | placeholder_svg_tag: 'hero__image-wrapper tw-object-cover tw-object-top tw-w-full tw-h-full tw-bg-main/50'
    }}
  {% endif %}
</div>

<div class="tw-grid tw-grid-cols-2 tw-text-main tw-gap-20 tw-my-20">
  <div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001.909646126454!2d16.603819499999997!3d41.2019434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1347f99a8a27736d%3A0xcbb1d8001dbc4fd!2sBimbozen!5e0!3m2!1sit!2sit!4v1736247326404!5m2!1sit!2sit"
      width="600"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="tw-w-full"
    ></iframe>
  </div>
  <div class="tw-flex tw-flex-col tw-gap-10 tw-items-start ">
    <div class="tw-flex tw-flex-col tw-gap-4">
      <h1>Contattaci</h1>
      <p>Rispoderemo entro le 48h. Dal lun - sab, 9 - 18</p>
    </div>

    <ul class="tw-flex tw-flex-col tw-gap-6 tw-w-full">
      <li>
        <div class="tw-flex tw-flex-col tw-gap-4">
          <h3>Indirizzo</h3>
          <p class="tw-flex tw-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 24 24">
              <path fill="#3A3F4C" d="M12 11.5A2.5 2.5 0 0 1 9.5 9A2.5 2.5 0 0 1 12 6.5A2.5 2.5 0 0 1 14.5 9a2.5 2.5 0 0 1-2.5 2.5M12 2a7 7 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a7 7 0 0 0-7-7" />
            </svg>
            Via Tenente Michele Fiorino, 36, 70056 Molfetta BA
          </p>
        </div>
      </li>
      <li>
        <div class="tw-flex tw-flex-col tw-gap-4">
          <h3>Numero di telefono</h3>
          <p class="tw-flex tw-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 24 24">
              <path fill="#3A3F4C" d="m19.23 15.26l-2.54-.29a1.99 1.99 0 0 0-1.64.57l-1.84 1.84a15.05 15.05 0 0 1-6.59-6.59l1.85-1.85c.43-.43.64-1.03.57-1.64l-.29-2.52a2 2 0 0 0-1.99-1.77H5.03c-1.13 0-2.07.94-2 2.07c.53 8.54 7.36 15.36 15.89 15.89c1.13.07 2.07-.87 2.07-2v-1.73c.01-1.01-.75-1.86-1.76-1.98" />
            </svg>
            +39 328 38 76 719
          </p>
        </div>
      </li>
      <li>
        <div class="tw-flex tw-flex-col tw-gap-4">
          <h3>Email di supporto</h3>
          <p class="tw-flex tw-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 24 24">
              <path fill="#3A3F4C" d="M4.616 19q-.691 0-1.153-.462T3 17.384V6.616q0-.691.463-1.153T4.615 5h14.77q.69 0 1.152.463T21 6.616v10.769q0 .69-.463 1.153T19.385 19zM12 12.116l8-5.231L19.692 6L12 11L4.308 6L4 6.885z" />
            </svg>
            bimbozen.store@gmail.com
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Seleziona Immagine"
    }
  ],

  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
